{% extends 'base.html.twig' %}

{% block title %}Produits Page
{% endblock %}

{% block body %}
	{% for produit in produits %}
		<div class="produit">
			<h1>{{produit.nom}}</h1>
			<p>{{produit.dateDeCreation|date("m/d/Y")}}</p>
			<img src="{{asset('asset/image/pokemonPink.jpg')}}" alt="">
			<p>Description du produit :
				{{produit.description}}</p>
			<p>Le prix est
				{{produit.prix}}</p>
			<a href="{{path('affiche_produit',{'id': produit.id})}}">
				<button class="btn btn-success">Plus d'info</button>
			</a>

		</div>
	{% endfor %}

{% endblock %}
